<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="dasboard.component.css">
    <title>Stock Management Application</title>
</head>
<body>
    <h1>Stock Management Application</h1>

    <div class="container">
        <div class="column">
            <div class="card">
                <img src="company_image.jpg" alt="Company Management Image" class="card-image">
                <h2>Company Management</h2>
                <button routerLink="/company" class="loginbtn">Go to Company Management Console</button>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="stock_image.jpg" alt="Stock Management Image" class="card-image">
                <h2>Stock Management</h2>
                <button routerLink="/stock" class="loginbtn">Go to Stock Management Console</button>
            </div>
        </div>
    </div>
</body>
</html>
